/* Your styles here */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  text-align: center;
  box-sizing: border-box;
}
a {
  color: white;
}
body {
  line-height: 1.65;
  font-family: "Poppins", sans-serif;
  inline-size: 1.65;
}

header {
  background-color: black;
  max-width: 100%;
  margin: 1rem;
  text-align: center;
  padding: 2rem;
  margin: 0;
}
main {
  text-align: center;
}
.first-div {
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 3rem;
}
main div h1 {
  color: #3394c9;
  font-size: 30px;
  margin-bottom: 1rem;
  padding: 1rem;
}
main div p {
  margin-bottom: 2rem;
}
main div,
p,
button {
}
button {
  color: white;
  border-radius: 10%;
  background-color: #f04c2f;
  font-size: large;
  padding: 0.5rem;
  border-color: #f04c2f;
}
nav {
  margin-top: 2rem;
  padding: 2rem;
}
nav .nav-h2 {
  color: #3394c9;
  margin-bottom: 0.5rem;
}
nav img {
  border-radius: 50%;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.rosso {
  color: white;
  max-width: 100%;
  background-color: #ee2200;
  padding: 2rem;
}
.rosso h2 {
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 1rem;
}
.cit {
  font-style: italic;
  font-size: small;
  margin-bottom: 2rem;
}
.rosso :last-child {
  font-size: small;
}
article {
  margin-top: 2rem;
}

article div {
  display: inline-block;
  text-align: center;
  box-shadow: 0 0px 3px #444;
  max-width: 85%;
  margin-bottom: 1rem;
}
article,
img,
h3,
p {
  margin-bottom: 0.5rem;
}
article h3 {
  font-weight: bold;
  color: #3394c9;
}
footer {
  background-color: #3394c9;
  padding: 3rem;
  color: white;
}
footer h2 {
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 1rem;
}
footer span {
  text-decoration: underline;
}
.last {
  margin-top: 2rem;
}
